
{% if number_list == '1' %}
  <li><span class ='smplayall'><a href="{{url}}"  >  <span class="label">{{fname}}</span></a></span></li>
{% else %}
  <span class ='smplayall'><a href="{{url}}"  >  <span class="label">{{fname}} </span></a></span>
{% endif %}
